h1{
    color:red;
      text-align:center;
      border:solid red 10px;
}
button{
    border-radius: 100px;
    color:yellow;
    background-color:black;
}
body{
    background-color:black;
}
h2{
    color:pink;
}
.imgg{
    display:flex;
    justify-content:center;
}